backend/node_modules/
backend/dist/
backend/.env
backend/pnpm-lock.yaml
backend/package-lock.json

frontend/node_modules/
frontend/dist/
frontend/pnpm-lock.yaml
frontend/package-lock.json

extension/node_modules/
extension/dist/
extension/pnpm-lock.yaml
extension/package-lock.json